<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">A TRiCAM Tool</a>
      <ul class="right hide-on-med-and-down">
        <li><a>Home</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">TRICAM</h1>
        <div class="row center">
          <h5 class="header col s12 light">Comprehensive video and text analysis with HP Idol OnDemand</h5>
        </div>
        <div class="row center">
          <a id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Try some videos now!</a>
        </div>
        <script> $('#download-button').click(function () {
    var divID = '#' + "formDiv";
    $('html, body').animate({
        scrollTop: $(divID).offset().top
    }, 2000);
});</script>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../static/background11.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">What we do</h5>

            <p class="light">With Tricam's clean interface, anyone can easily upload videos and conduct comprehensive analysis on them in just a few clicks.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Tools</h5>

            <p class="light">With HP Helion OpenStack, we can tackle large datasets on the server.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">In-depth Analysis</h5>

            <p class="light">We leverage HP Haven OnDemand API to analyze your videos for text and image analysis</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A comprehensive text and image analysis </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/background11.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container" id = "formDiv">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Upload video(s) below</h4>

<form action='/import' method='post' enctype='multipart/form-data'.>
    File: <input type='file' name='file_upload'>
    <input type='submit'>
</form>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">TRiCAM Bio</h5>
          <p class="grey-text text-lighten-4">We are six university students working as research interns at Harvard University in the School of Engineering and Applied Sciences. TRiCAM stands for Team Research in Computational Applied Mathematics.</p>


        </div>

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

  </body>
</html>
